<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Create new Post</h2>
    <form method="post" action="/chats">
        <input type="text" placeholder="From" name="from">
        <br>
        <br>
        <textarea rows="10" cols="50" name="msg">Write message here</textarea>
        <br>
        <br>
        <input type="text" placeholder="To" name="to">
        <button>Submit</button>
    </form>
    

</body>
</html>